@media (min-width: 1600px) and (max-width: 1800px) {

  /* Home page start */
  .main_menu .menu_right .user_icon ul {
    left: auto;
    right: 0;
  }

  .main_menu .menu_right .user_icon ul::after {
    left: auto;
    right: 20px;
  }

  .wsus__banner::after {
    left: 20px;
  }

  .wsus__banner::before {
    width: 110px;
    height: 110px;
  }

  /* Home page end */

  .product_slider_large_item {
    height: 400px;
  }

  .rising_goal span {
    font-size: 16px;
  }

  .wsus__breadcrumb_overlay::before {
    left: 30px;
  }
}

@media (min-width: 1400px) and (max-width: 1599.99px) {

  /* Home page start */
  .main_menu .menu_right .user_icon ul {
    left: auto;
    right: 0;
  }

  .main_menu .menu_right .user_icon ul::after {
    left: auto;
    right: 20px;
  }

  .wsus__banner::after {
    display: none;
  }

  .wsus__banner::before {
    width: 120px;
    height: 120px;
  }

  .wsus__banner .circle_box {
    bottom: 90px;
  }

  .wsus__about_us_img {
    height: 562px;
  }

  .wsus__single_brand {
    height: 130px;
  }

  .wsus__campaign::after {
    width: 100%;
    left: 0;
  }

  /* Home page end */

  .wsus__breadcrumb_overlay::before {
    display: none;
  }

  .wsus__breadcrumb_overlay {
    padding: 245px 0px 140px 0px;
  }

  .wsus__breadcrumb_overlay::after {
    right: 100px;
  }

  /* Caampaogn details start */
  .product_slider_large_item {
    height: 400px;
  }

  .rising_goal span {
    font-size: 16px;
  }

  /* Caampaogn details end */
}

@media (min-width: 1200px) and (max-width: 1399.99px) {

  /* Home page start */
  .main_menu .menu_right .user_icon ul {
    left: auto;
    right: 0;
  }

  .main_menu .menu_right .user_icon ul::after {
    left: auto;
    right: 20px;
  }

  .wsus__banner::after {
    display: none;
  }

  .wsus__banner_text h1 {
    font-size: 78px;
  }

  .wsus__banner .circle_box {
    bottom: 40px;
    right: 25%;
  }

  .wsus__banner::before {
    width: 120px;
    height: 120px;
  }

  .section_heading h2 {
    font-size: 44px;
  }

  .wsus__about_us_img {
    height: 482px;
  }

  .wsus_about_us_text .about_description {
    font-size: 16px;
  }

  .wsus__video_donate_text {
    padding: 40px 15px 40px 40px;
  }

  .wsus__video_donate_img {
    height: 515px;
  }

  .wsus__video_donate_bottom p {
    font-size: 16px;
  }

  .wsus__service_item {
    padding: 30px 15px;
  }

  .wsus__service_item p {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }

  .wssus__event_item .text {
    padding: 20px;
  }

  .wsus__single_brand {
    height: 110px;
  }

  .wsus__campaign::after {
    width: 100%;
    height: 515px;
    left: 0;
  }

  .wsus__campaign_card .img {
    height: 210px;
  }

  .wssus__event_item {
    height: 470px;
  }

  .wsus__become_volunteer_text h2 {
    font-size: 44px;
  }

  .wsis__single_volunteer .img {
    height: 275px;
  }

  .wsis__single_volunteer .text h4 {
    font-size: 20px;
  }

  .wsus__faq_text .accordion-header button {
    font-size: 16px;
  }

  .wsus__faq_img {
    height: 570px;
  }

  .wsus__single_blog .img {
    height: 255px;
  }

  /* Home page end */

  .wsus__breadcrumb_overlay::before {
    display: none;
  }

  .wsus__breadcrumb_overlay {
    padding: 245px 0px 140px 0px;
  }

  .wsus__breadcrumb_overlay::after {
    right: 100px;
  }

  /* Blog details start */
  .wsus__blog_details_thumb,
  .wsus__event_details_img,
  .wsus__service_details_img {
    height: 430px;
  }

  .wsus__blog_details_header h2,
  .wsus__event_details_header h2,
  .wsus__service_details_header h2 {
    font-size: 40px;
  }

  .wsus__blog_det_author .text {
    width: 68%;
  }

  .wsus__blog_single_comment .text {
    width: 85%;
  }

  .wsus__sidebar_search,
  .wsus__sidebar_blog_category,
  .wsus__sidebar_recent_post,
  .wsus__sidebar_blog_tags,
  .wsus__event_schedule,
  .wsus__event_organizer,
  .wsus__event_map {
    padding: 20px;
  }

  .wsus__event_sidebar h3,
  .wsus__blog_sidebar h3 {
    font-size: 24px;
  }

  .wsus__event_sidebar ul li h4 {
    font-size: 18px;
  }

  .wsus__sidebar_recent_post ul li .text {
    width: 57%;
  }

  /* Blog details end */


  /* Caampaogn details start */
  .wsus__campaign_details_text {
    padding-left: 0;
  }

  .wsus__campaign_details_text h2 {
    font-size: 36px;
  }

  .product_slider_large_item {
    height: 345px;
  }

  .product_slider_small_item {
    height: 55px;
  }

  .wsus__campaign_details_videos {
    height: 630px;
  }

  .rising_goal span {
    font-size: 16px;
  }

  /* Caampaogn details end */

  .wsus__contact_info span {
    width: 50px;
    height: 50px;
    padding: 12px;
    left: 20px;
  }

  .wsus__contact_info {
    padding: 30px 30px 30px 85px;
  }

  .wsus__contact_img {
    height: 550px;
    margin-left: 0;
  }

  .wsus__contact_form form {
    padding: 30px;
  }

  .wsus__donor_list_item h3 {
    font-size: 16px;
  }

  .wsus__donor_list_item p {
    font-size: 14px;
  }

  .wsus__donor_list_item .pay {
    height: 60px;
  }

  .wsus__event_map iframe {
    height: 220px;
  }

  .wsus__gallery_item {
    height: 355px;
  }

  .wsus__sign_up_img {
    height: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.99px) {

  /* Home page start */
  .main_menu .menu_right .wsus__common_btn {
    padding: 15px 40px 11px 20px;
  }

  .main_menu .menu_right .user_icon .user_link {
    width: 47px;
    height: 47px;
    line-height: 47px;
  }

  .main_menu .navbar-nav {
    gap: 15px;
  }

  .wsus__banner::after {
    display: none;
  }

  .main_menu .menu_right .user_icon ul {
    left: auto;
    right: 0;
  }

  .main_menu .menu_right .user_icon ul::after {
    left: auto;
    right: 20px;
  }

  .wsus__banner_text h1 {
    font-size: 72px;
  }

  .wsus__banner_text p {
    max-width: 80%;
  }

  .wsus__banner .circle_box {
    bottom: 30px;
    right: 20%;
  }

  .wsus_about_us_text {
    padding-left: 0;
  }

  .wsus__about_us_img {
    height: auto;
  }

  .section_heading h2 {
    font-size: 40px;
  }

  .wsus_about_us_text .about_description {
    font-size: 16px;
  }

  .wsus__video_donate_text h2 {
    font-size: 28px;
  }

  .wsus__video_donate_text p {
    font-size: 16px;
  }

  .wsus__video_donation_box ul {
    margin-bottom: 25px;
  }

  .wsus__video_donate_img {
    height: 450px;
  }

  .wsus__video_donate_text {
    padding: 30px 5px 30px 30px;
  }

  .wsus__single_brand {
    height: 115px;
  }

  .wsus__campaign::after {
    width: 100%;
    left: 0;
    height: 522px;
  }

  .wsus__campaign_card .img {
    height: 275px;
  }

  .wsus__become_volunteer_bg {
    padding: 70px;
  }

  .wsus__testimonial_item .description {
    font-size: 16px;
  }

  .wsis__single_volunteer .img {
    height: 315px;
  }

  .wsus__faq_img {
    height: 395px;
  }

  .wsus__faq_text .accordion-header button {
    font-size: 16px;
  }

  .wsus__single_blog .img {
    height: 330px;
  }

  .wsus__banner::before {
    width: 120px;
    height: 120px;
    left: 50px;
  }

  .wsus__banner .slick-dots {
    right: 50px;
  }

  /* Home page end */

  .wsus__breadcrumb_overlay::before {
    display: none;
  }

  .wsus__breadcrumb_overlay {
    padding: 205px 0px 100px 0px;
  }

  .wsus__breadcrumb_overlay::after {
    right: 100px;
  }

  /* Blog details start */
  .wsus__blog_details_thumb,
  .wsus__event_details_img,
  .wsus__service_details_img {
    height: 360px;
  }

  .wsus__blog_details_header h2,
  .wsus__event_details_header h2,
  .wsus__service_details_header h2 {
    font-size: 36px;
  }

  .wsus__blog_det_tags_share ul {
    margin-bottom: 20px;
  }

  .wsus__blog_det_author .text {
    width: 62%;
  }

  .wsus__blog_det_author {
    margin-top: 40px;
  }

  .wsus__blog_single_comment .text {
    width: 85%;
  }

  .wsus__sidebar_search,
  .wsus__sidebar_blog_category,
  .wsus__sidebar_recent_post,
  .wsus__sidebar_blog_tags,
  .wsus__event_schedule,
  .wsus__event_organizer,
  .wsus__event_map {
    padding: 20px;
  }

  .wsus__event_sidebar h3,
  .wsus__blog_sidebar h3 {
    font-size: 22px;
  }

  .wsus__event_sidebar ul li h4 {
    font-size: 18px;
  }

  .wsus__sidebar_recent_post ul li .text {
    width: 100%;
  }

  .wsus__event_map iframe {
    height: 220px;
  }

  /* Blog details end */


  /* Caampaogn details start */
  .wsus__campaign_details_text {
    padding-left: 0;
  }

  .wsus__campaign_details_text h2 {
    font-size: 32px;
  }

  .product_slider_large_item {
    height: 300px;
  }

  .product_slider_small_item {
    height: 45px;
  }

  .wsus__video_donation_box ul li {
    padding: 9px 18px;
    font-size: 13px !important;
  }

  .rising_goal span {
    font-size: 16px;
  }

  /* Caampaogn details end */

  .wsus__contact_info {
    padding: 30px 30px 30px 75px;
  }

  .wsus__contact_info span {
    width: 40px;
    height: 40px;
    padding: 7px;
    left: 20px;
  }

  .wsus__contact_form form {
    padding: 30px;
  }

  .wsus__contact_form form h3 {
    font-size: 34px;
    margin-bottom: 0;
  }

  .wsus__contact_img {
    height: 545px;
    margin-left: 5px;
  }

  .wsus__dashboard_contant_top .wsus__common_btn {
    margin-top: 20px;
  }

  .wsus__gallery_item {
    height: 295px;
  }

  .wsus__sign_up_img {
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.99px) {

  /* Home page start */
  .wsus__header_right {
    justify-content: center;
  }

  .main_menu {
    top: 37px;
  }

  .main_menu .navbar-collapse {
    margin-top: 13px;
  }

  .main_menu .container {
    padding: 14px 0px;
    max-width: 100%;
  }

  .main_menu .menu_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--colorBlack);
    padding: 15px 15px 20px 15px;
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
  }

  .main_menu .navbar-nav {
    line-height: initial;
    gap: 20px;
    background: var(--colorBlack);
    padding: 30px 15px;
    border-top: 1px solid #3f3f3f;
  }

  .main_menu .navbar-brand {
    margin-left: 12px;
  }

  .main_menu .navbar-toggler {
    margin-right: 12px;
  }

  .main_menu .navbar-nav .nav-item:hover .sub_menu {
    top: 150%;
  }

  .main_menu .menu_right .user_icon ul {
    display: none;
  }

  .wsus__banner_text h1 {
    font-size: 58px;
  }

  .wsus__banner .slick-dots {
    right: 50px;
  }

  .wsus__banner_text {
    padding-right: 70px;
  }

  .wsus__banner_text p {
    max-width: 100%;
  }

  .wsus__banner .circle_box,
  .wsus__banner::after {
    display: none;
  }

  .wsus__banner::before {
    width: 120px;
    height: 120px;
  }

  .section_heading h2 {
    font-size: 42px;
  }

  .wsus__category_item .img {
    width: 150px;
    height: 150px;
  }

  .wsus__about_us_img {
    height: 745px;
    margin-bottom: 50px;
  }

  .wsus_about_us_text {
    padding-left: 0;
  }

  .wsus__video_donate_text h2 {
    font-size: 26px;
  }

  .wsus__video_donate_text {
    padding: 40px;
  }

  .wsus__video_donate_img {
    height: 590px;
    margin: 0px 15px 15px 15px;
  }

  .wsus__single_brand {
    height: 115px;
  }

  .wsus__campaign::after {
    width: 100%;
    height: 400px;
    left: 0;
    border-radius: 25px;
  }

  .wsus__campaign_card .img {
    height: 200px;
  }

  .title {
    font-size: 20px;
  }

  .wsus__counter_item {
    border-right: 0;
    margin: 25px 0px;
    padding-right: 0;
  }

  .wssus__event_item {
    height: 445px;
  }

  .wsus__text_slider .marquee_animi ul li {
    font-size: 74px;
  }

  .wsus__become_volunteer_bg {
    padding: 50px;
  }

  .wsus__become_volunteer_text h2 {
    font-size: 44px;
  }

  .wsis__single_volunteer .img {
    height: 365px;
  }

  .wsus__faq_img {
    height: 730px;
    margin-bottom: 25px;
  }

  .wsus__faq_text .accordion-body p {
    font-size: 16px;
  }

  .wsus__single_blog .img {
    height: 245px;
  }

  .wsus__footer_top ul {
    display: none;
  }

  .wsus__footer_top {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .wsus__footer_link,
  .wsus__footer_contact,
  .wsus__footer_newsletter {
    margin-top: 50px;
  }

  .wsus__banner_slider_item::after {
    width: 120px;
    height: 120px;
  }

  .wsus__category_item .img::after {
    width: 160px;
    height: 160px;
  }

  /* Home page end */

  .wsus__breadcrumb_overlay::before {
    display: none;
  }

  .wsus__breadcrumb_text h1 {
    font-size: 44px;
  }

  .wsus__breadcrumb_overlay {
    padding: 200px 0px 100px 0px;
  }

  .progress-wrap {
    right: 20px;
    bottom: 20px;
  }

  .wsus__breadcrumb_overlay::after {
    width: 200px;
    height: 200px;
    right: 50px;
  }

  /* About us end */


  /* Blog details start */
  .wsus__blog_details_header h2,
  .wsus__event_details_header h2,
  .wsus__service_details_header h2 {
    font-size: 38px;
  }

  .wsus__blog_det_tags_share ul {
    margin-bottom: 20px;
  }

  .wsus__blog_det_author {
    margin-top: 40px;
  }

  .wsus__blog_det_author .text {
    width: 67%;
  }

  .wsus__blog_single_comment .text {
    width: 86%;
  }

  .wsus__blog_comment_input_area {
    margin-bottom: 25px;
  }

  /* Blog details end */


  /* Caampaogn details start */
  .product_slider_large_item {
    height: 440px;
  }

  .product_slider_small_item {
    height: 75px;
  }

  .wsus__campaign_details_text {
    padding-left: 0;
    margin-top: 25px;
  }

  .wsus__campaign_details .nav .nav-item button {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 25px;
  }

  .wsus__campaign_details_videos {
    height: 400px;
  }

  .wsus__campaign_card .text {
    padding: 20px 10px 5px 10px;
  }

  .rising_goal span {
    font-size: 16px;
  }

  /* Caampaogn details end */

  .wsus__contact_img {
    height: 770px;
    margin-left: 0;
    margin-top: 25px;
  }

  .wsus__contact_form form {
    padding: 40px;
  }

  .wsus__dashboard_sidebar_top h4 {
    font-size: 16px;
  }

  .wsus__dashboard_sidebar_menu li a {
    font-size: 14px;
  }

  .wsus__dashboard_contant_top .wsus__common_btn {
    margin-top: 20px;
  }

  .wsus__dashboard_profile .text {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  .wsus__donor_list_item h3 {
    font-size: 16px;
  }

  .wsus__donor_list_item p {
    font-size: 14px;
  }

  .wsus__donor_list_item .pay {
    height: 60px;
  }

  .wsus__event_details_text {
    margin-bottom: 25px;
  }

  .wsus__event_sidebar h3,
  .wsus__blog_sidebar h3 {
    font-size: 24px;
  }

  .wsus__gallery_item {
    height: 335px;
  }

  .wsus__service_details_text {
    margin-bottom: 25px;
  }

  .wsus__sign_up_img {
    height: 625px;
    margin-bottom: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767.99px) {

  /* Home page start */
  .wsus__header_right {
    justify-content: center;
  }

  .main_menu {
    top: 37px;
  }

  .main_menu .navbar-collapse {
    margin-top: 13px;
  }

  .main_menu .container {
    padding: 16px 0px;
    max-width: 100%;
  }

  .main_menu .menu_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--colorBlack);
    padding: 15px 15px 15px 15px;
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
  }

  .main_menu .navbar-nav {
    line-height: initial;
    gap: 20px;
    background: var(--colorBlack);
    padding: 30px 15px;
    border-top: 1px solid #3f3f3f;
  }

  .main_menu .navbar-brand {
    margin-left: 12px;
  }

  .main_menu .navbar-toggler {
    margin-right: 12px;
  }

  .main_menu .navbar-nav .nav-item:hover .sub_menu {
    top: 150%;
  }

  .main_menu .menu_right .user_icon ul {
    display: none;
  }

  .wsus__banner_text {
    padding-right: 50px;
  }

  .wsus__banner_text h1 {
    font-size: 44px;
  }

  .wsus__banner .slick-dots {
    right: 20px;
  }

  .wsus__banner_text p {
    max-width: 100%;
  }

  .wsus__banner .circle_box,
  .wsus__banner::after {
    display: none;
  }

  .wsus__banner::before {
    width: 100px;
    height: 100px;
  }

  .section_heading h2 {
    font-size: 32px;
  }

  .wsus__category_item .img {
    width: 150px;
    height: 150px;
  }

  .wsus__about_us_img {
    height: 552px;
    margin-bottom: 50px;
  }

  .wsus_about_us_text {
    padding-left: 0;
  }

  .wsus__video_donate_text h2 {
    font-size: 26px;
  }

  .wsus__video_donate_text {
    padding: 40px;
  }

  .wsus__video_donate_img {
    height: 430px;
    margin: 0px 15px 15px 15px;
  }

  .wsus__single_brand {
    height: 125px;
  }

  .wsus__campaign::after {
    width: 100%;
    height: 400px;
    left: 0;
    border-radius: 25px;
  }

  .wsus__campaign_card .img {
    height: 313px;
  }

  .title {
    font-size: 22px;
  }

  .wsus__counter_item {
    border-right: 0;
    margin: 25px 0px;
    padding-right: 0;
  }

  .wssus__event_item {
    height: 680px;
  }

  .wsus__text_slider .marquee_animi ul li {
    font-size: 60px;
  }

  .wsus__become_volunteer_bg {
    padding: 42px;
  }

  .wsus__become_volunteer_text h2 {
    font-size: 28px;
  }

  .wsus__testimonial_item .description {
    font-size: 16px;
  }

  .wsis__single_volunteer .img {
    height: 260px;
  }

  .wsus__faq_img {
    height: 540px;
    margin-bottom: 25px;
  }

  .wsus__faq_text .accordion-body p {
    font-size: 16px;
  }

  .wsus__faq_text .accordion-header button {
    font-size: 16px;
  }

  .wsus__single_blog .img {
    height: 375px;
  }

  .wsus__footer_top ul {
    display: none;
  }

  .wsus__footer_top {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .wsus__footer_link,
  .wsus__footer_contact,
  .wsus__footer_newsletter {
    margin-top: 50px;
  }

  .wsus__footer_botton_text p {
    margin-bottom: 15px;
  }

  .wsus__banner_slider_item::after {
    width: 120px;
    height: 120px;
  }

  .wsus__category_item .img::after {
    width: 160px;
    height: 160px;
  }

  .wsus__service_item {
    padding: 30px 15px;
  }

  .wsus__service_item p {
    font-size: 14px;
  }

  .wsus__banner {
    height: auto;
  }

  .wsus__banner_overlay {
    padding: 120px 0px 125px 0px;
  }

  /* Home page end */


  /* Abour us end */
  .wsus__breadcrumb_overlay::before {
    display: none;
  }

  .wsus__breadcrumb_text h1 {
    font-size: 38px;
  }

  .wsus__breadcrumb_overlay {
    padding: 200px 0px 100px 0px;
  }

  .progress-wrap {
    right: 20px;
    bottom: 20px;
  }

  .wsus__breadcrumb_overlay::after {
    width: 100px;
    height: 100px;
    right: 20px;
  }

  /* About us end */


  /* Blog details start */
  .wsus__blog_details_thumb,
  .wsus__event_details_img,
  .wsus__service_details_img {
    height: 300px;
  }

  .wsus__blog_details_header h2,
  .wsus__event_details_header h2,
  .wsus__service_details_header h2 {
    font-size: 28px;
  }

  .details_quot_text {
    padding: 30px;
    font-size: 16px;
  }

  .details_quot_text::after {
    display: none;
  }

  .wsus__blog_det_tags_share ul {
    margin-bottom: 20px;
  }

  .wsus__blog_det_author {
    margin-top: 40px;
  }

  .wsus__blog_det_author .text {
    width: 100%;
    padding: 20px;
  }

  .wsus__blog_single_comment .text {
    width: 100%;
  }

  .wsus__blog_comment_input_area {
    margin-bottom: 50px;
  }

  .wsus__event_sidebar h3,
  .wsus__blog_sidebar h3 {
    font-size: 24px;
  }

  .wsus__sidebar_recent_post ul li .text {
    width: 70%;
  }

  /* Blog details end */


  /* Caampaogn details start */
  .product_slider_large_item {
    height: 325px;
  }

  .product_slider_small_item {
    height: 55px;
  }

  .wsus__campaign_details_text {
    padding-left: 0;
    margin-top: 25px;
  }

  .wsus__campaign_details_text h2 {
    font-size: 36px;
  }

  .wsus__campaign_details .nav .nav-item button {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 25px;
  }

  .wsus__campaign_details_videos {
    height: 290px;
  }

  .wsus__campaign_card .text {
    padding: 25px 15px 10px 15px;
  }

  .rising_goal span {
    font-size: 16px;
  }

  /* Caampaogn details end */


  /* Contact us start */
  .wsus__contact_form form {
    padding: 40px;
  }

  .wsus__contact_form form h3 {
    font-size: 36px;
  }

  .wsus__contact_img {
    height: 565px;
    margin-left: 0;
    margin-top: 25px;
  }

  .contact_map {
    height: 350px;
  }

  /* Contact us end */

  .wsus__dashboard_contant_top .wsus__common_btn {
    margin-top: 20px;
  }

  .wsus__event_details_text {
    margin-bottom: 25px;
  }

  .wsus__gallery_item {
    height: 245px;
  }

  .wsus__service_details_text {
    margin-bottom: 25px;
  }

  .wsus__sign_up_img {
    height: 465px;
    margin-bottom: 25px;
  }

  .wsus__sign_up_contant {
    padding: 30px;
  }

  .wssus__event_item .text::after {
    height: 360px;
    bottom: -175px;
  }
}

@media (max-width: 575.99px) {

  /* Home page start */
  .wsus__header_right {
    justify-content: center;
  }

  .main_menu {
    top: 37px;
  }

  .main_menu .navbar-collapse {
    margin-top: 13px;
  }

  .main_menu .container {
    padding: 16px 0px;
  }

  .main_menu .menu_right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--colorBlack);
    padding: 15px 15px 15px 15px;
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
  }

  .main_menu .navbar-nav {
    line-height: initial;
    gap: 20px;
    background: var(--colorBlack);
    padding: 30px 15px;
    border-top: 1px solid #3f3f3f;
  }

  .main_menu .navbar-brand {
    margin-left: 12px;
  }

  .main_menu .navbar-toggler {
    margin-right: 12px;
  }

  .main_menu .navbar-nav .nav-item:hover .sub_menu {
    top: 150%;
  }

  .main_menu .menu_right .user_icon ul {
    display: none;
  }

  .wsus__banner {
    height: auto;
  }

  .wsus__banner_text {
    padding-right: 25px;
  }

  .wsus__banner_text h1 {
    font-size: 34px;
  }

  .wsus__banner_overlay {
    padding: 100px 12px;
  }

  .wsus__banner_text h5 {
    font-size: 20px;
  }

  .wsus__banner .slick-dots {
    right: 20px;
  }

  .wsus__banner_text p {
    max-width: 90%;
    font-size: 16px;
  }

  .wsus__banner .circle_box,
  .wsus__banner::after,
  .wsus__banner::before {
    display: none;
  }

  .section_heading h5 {
    font-size: 16px;
  }

  .section_heading h2 {
    font-size: 26px;
  }

  .wsus__category_item .img {
    width: 150px;
    height: 150px;
  }

  .wsus__about_us_img {
    height: auto;
    margin-bottom: 50px;
  }

  .wsus_about_us_text {
    padding-left: 0;
  }

  .wsus_about_us_text ul li .icon {
    width: 50px;
    height: 50px;
  }

  .wsus_about_us_text ul li .icon::after {
    width: 40px;
    height: 40px;
  }

  .wsus_about_us_text ul li h4 {
    font-size: 14px;
  }

  .wsus_about_us_text ul li h3 {
    font-size: 28px;
  }

  .wsus_about_us_text .wsus__about_founder a {
    display: none;
  }

  .wsus__video_donate_text h2 {
    font-size: 26px;
  }

  .wsus__video_donate_text {
    padding: 30px 30px 15px 30px;
  }

  .wsus__video_donate_text p {
    font-size: 14px;
  }

  .wsus__service_item p {
    font-size: 16px;
  }

  .wsus__video_donation_box ul li {
    padding: 8px 15px;
    font-size: 14px;
  }

  .wsus__video_donate_img {
    height: auto;
    margin: 15px 15px 15px 15px;
  }

  .wsus__video_donate_bottom h2 {
    font-size: 28px;
  }

  .wsus__single_brand {
    height: 90px;
  }

  .wsus__campaign::after {
    width: 100%;
    height: 400px;
    left: 0;
    border-radius: 25px;
  }

  .wsus__campaign_card .img {
    height: auto;
  }

  .title {
    font-size: 22px;
  }

  .wsus__counter_item {
    border-right: 0;
    margin: 25px 0px;
    padding-right: 0;
  }

  .wssus__event_item {
    height: auto;
  }

  .wsus__text_slider .marquee_animi ul li {
    font-size: 44px;
  }

  .wsus__become_volunteer_bg {
    padding: 30px;
  }

  .wsus__become_volunteer_text h2 {
    font-size: 32px;
  }

  .wsus__testimonial_item .description {
    font-size: 14px;
  }

  .wsis__single_volunteer .img {
    height: auto;
  }

  .wsus__faq_img {
    height: auto;
    margin-bottom: 25px;
  }

  .wsus__faq_text .accordion-body p {
    font-size: 14px;
  }

  .wsus__faq_text .accordion-header button {
    font-size: 16px;
  }

  .wsus__single_blog .img {
    height: auto;
  }

  .wsus__footer_top ul {
    display: none;
  }

  .wsus__footer_top {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .wsus__footer_link,
  .wsus__footer_contact,
  .wsus__footer_newsletter {
    margin-top: 50px;
  }

  .wsus__footer_botton_text p {
    margin-bottom: 15px;
  }

  .wsus__banner_slider_item::after {
    width: 120px;
    height: 120px;
  }

  .wsus__category_item .img::after {
    width: 160px;
    height: 160px;
  }

  .wsus__become_volunteer_text p {
    font-size: 16px;
  }

  /* Home page end */


  /* About us start */
  .wsus__breadcrumb_overlay::before {
    display: none;
  }

  .wsus__breadcrumb_text h1 {
    font-size: 28px;
  }

  .wsus__breadcrumb_text ul li,
  .wsus__breadcrumb_text ul li a {
    font-size: 16px;
  }

  .wsus__breadcrumb_overlay {
    padding: 200px 0px 100px 0px;
  }

  .progress-wrap {
    right: 20px;
    bottom: 20px;
  }

  .wsus__breadcrumb_overlay::after {
    width: 100px;
    height: 100px;
    right: 20px;
  }

  /* About us end */


  /* Blog details start */
  .wsus__blog_details_thumb,
  .wsus__event_details_img,
  .wsus__service_details_img {
    height: auto;
  }

  .wsus__blog_details_header h2,
  .wsus__event_details_header h2,
  .wsus__service_details_header h2 {
    font-size: 28px;
  }

  .details_quot_text {
    padding: 30px;
    font-size: 16px;
  }

  .details_quot_text::after {
    display: none;
  }

  .wsus__blog_det_tags_share ul {
    margin-bottom: 20px;
  }

  .wsus__blog_det_author {
    margin-top: 40px;
  }

  .wsus__blog_det_author .text {
    width: 100%;
    padding: 20px;
  }

  .wsus__blog_single_comment .text {
    width: 100%;
  }

  .wsus__blog_comment_input_area {
    margin-bottom: 50px;
  }

  .wsus__event_sidebar h3,
  .wsus__blog_sidebar h3 {
    font-size: 20px;
  }

  .wsus__sidebar_recent_post ul li .text {
    width: 100%;
  }

  /* Blog details end */


  /* Caampaogn details start */
  .product_slider_large_item {
    height: auto;
  }

  .product_slider_small_item {
    height: 40px;
  }

  .wsus__campaign_details_text {
    padding-left: 0;
    margin-top: 25px;
  }

  .wsus__campaign_details_text h2 {
    font-size: 28px;
  }

  .wsus__campaign_details .nav .nav-item button {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 25px;
  }

  .wsus__campaign_details_videos {
    height: 200px;
  }

  .wsus__campaign_card .text {
    padding: 25px 10px 5px 10px;
  }

  .rising_goal span {
    font-size: 16px;
  }

  /* Caampaogn details end */


  /* Contact us start */
  .wsus__contact_form form {
    padding: 30px;
  }

  .wsus__contact_form form h3 {
    font-size: 24px;
  }

  .wsus__contact_img {
    height: auto;
    margin-left: 0;
    margin-top: 25px;
  }

  .contact_map {
    height: 350px;
  }

  /* Contact us end */
  .wsus__dashboard_contant_top .wsus__common_btn {
    margin-top: 20px;
  }

  .wsus__dashboard_profile .text {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  .wsus__donor_list_item h3 {
    font-size: 16px;
  }

  .wsus__donor_list_item p {
    font-size: 14px;
  }

  .wsus__donor_list_item .pay {
    height: 60px;
  }

  .wsus__event_details_text {
    margin-bottom: 25px;
  }

  .wsus__event_sidebar ul li h4 {
    font-size: 18px;
  }

  .wsus__sidebar_search,
  .wsus__sidebar_blog_category,
  .wsus__sidebar_recent_post,
  .wsus__sidebar_blog_tags,
  .wsus__event_schedule,
  .wsus__event_organizer,
  .wsus__event_map {
    padding: 20px;
  }

  .wsus__gallery_item {
    height: auto;
  }

  .wsus__service_details_text {
    margin-bottom: 25px;
  }

  .wsus__sign_up_img {
    height: auto;
    margin-bottom: 25px;
  }

  .wsus__sign_up_contant {
    padding: 20px;
  }

  .wsus__testimonial_item {
    padding: 30px;
  }

  .wsus_about_us_text .wsus__about_founder h3 {
    font-size: 18px;
  }

  .wsus__banner_text h5::before,
  .wsus__banner_text h5::after {
    display: none;
  }

  .wsus__banner_text h5 {
    padding: 0 !important;
  }

}