* {
    direction: rtl;
    text-align: right;
}

.wsus__banner .slick-list {
    direction: ltr;
}

.main_menu .menu_right .user_icon {
    margin-left: 0;
    margin-right: 10px;
}

.wsus__banner .circle_box svg textPath {
    direction: ltr;
}

.wsus__banner .slick-dots {
    right: auto;
    left: 100px;
}

.wsus__banner::after {
    left: auto;
    right: 160px;
}

.wsus__banner .circle_box {
    right: auto;
    left: 32%;
}

.wsus__banner::before {
    left: auto;
    right: 90px;
}

.wsus__banner_slider_item::after {
    right: auto;
    left: 0px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.wsus__common_btn::after {
    right: auto;
    left: 20px;
    transform: translateY(-50%) rotate(-45deg);
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -moz-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    -o-transform: translateY(-50%) rotate(-45deg);
}

.wsus__common_btn:hover::after {
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
}

.wsus__common_btn {
    padding: 17px 25px 16px 38px;
}

.wsus__banner_text h5 {
    padding-left: 0;
    padding-right: 90px;
}

.wsus__banner_text h5::before {
    left: auto;
    right: 0;
}

.wsus__banner_text h5::after {
    left: auto;
    right: 55px;
}

.wsus__header_right .icon {
    border-right: 0;
    border-left: 1px solid #ffffff1f;
    padding-right: 0;
    padding-left: 50px;
}

.nice-select .option {
    padding-left: 25px;
    padding-right: 20px;
    text-align: right;
}

.nice-select:after {
    right: auto;
    left: 4px;
}

.wsus__header_right .language_currency .nice-select {
    text-align: right !important;
}

.wsus__about_us .section_heading,
.wsus__about_us .section_heading h5,
.wsus__about_us .section_heading h2 {
    text-align: right;
}

.wsus__about_us .section_heading h5 {
    border-right: 2px solid var(--colorPrimary);
    border-left: 0;
}

.wsus_about_us_text ul li .icon::after {
    right: auto;
    left: -7px;
}

.wsus_about_us_text .wsus__about_founder a {
    right: auto;
    left: 20px;
}

.wsus_about_us_text .wsus__about_founder .img {
    left: auto;
    right: 10px;
}

.wsus_about_us_text .wsus__about_founder {
    padding-left: 0;
    padding-right: 100px;
}

.wsus__video_donate_img {
    margin: 15px 0px 15px 15px;
}

.wsus_about_us_text {
    padding-left: 0;
    padding-right: 50px;
}

.wsus__video_donate_text p {
    border-left: 0;
    border-right: 4px solid var(--colorPrimary);
    padding-left: 0;
    padding-right: 15px;
}

.wsus__video_donate_text {
    padding: 50px 50px 50px 25px;
}

.wsus__video_donation_box input {
    padding: 10px 65px 11px 25px;
}

.wsus__video_donation_box .input_box span {
    left: auto;
    right: 7px;
}

.barfiller .tipWrap .tip {
    display: none;
}

.wsus__counter .col-6:last-child .wsus__counter_item {
    border-right: 1px solid #ffffff4d;
}

.wsus__counter .col-6:first-child .wsus__counter_item {
    border: 0;
}

.marquee_animi {
    direction: ltr;
}

.wsus__testimonial_item::after {
    right: auto;
    left: 50px;
    transform: rotateY(190deg);
    -webkit-transform: rotateY(190deg);
    -moz-transform: rotateY(190deg);
    -ms-transform: rotateY(190deg);
    -o-transform: rotateY(190deg);
}

.wsus__testimonial_footer img {
    margin-right: 0;
    margin-left: 12px;
}

.wsus__faq_text .accordion-button::after {
    position: absolute;
    left: 20px;
}

.title {
    background-position: 100% 0%, 100% 100%;
}

.wsus__footer_top ul li .icon {
    border-right: 0;
    border-left: 1px solid #ffc10738;
    left: auto;
    right: 10px;
}

.wsus__footer_top ul li {
    padding-left: 30px;
    padding-right: 75px;
}

.wsus__footer_newsletter form button {
    right: auto;
    left: 6px;
}

.wsus__footer_contact ul li {
    padding-left: 0;
    padding-right: 40px;
}

.wsus__footer_contact ul li span {
    left: auto;
    right: 0;
}

.progress-wrap {
    right: auto;
    left: 50px;
}

.wsus__footer_newsletter form input {
    padding: 15px 30px 15px 55px;
}

.wsus__footer_link ul li a:hover {
    padding-left: 0;
    padding-right: 5px;
}

.main_menu .navbar-nav .nav-item .sub_menu li:hover a,
.main_menu .navbar-nav .nav-item .sub_menu li a.active,
.main_menu .menu_right .user_icon ul li a:hover {
    padding-left: 0;
    padding-right: 5px;
}

.main_menu .navbar-nav .nav-item .sub_menu,
.main_menu .menu_right .user_icon ul {
    left: auto;
    right: 0;
}

.main_menu .navbar-nav .nav-item .sub_menu::after,
.main_menu .menu_right .user_icon ul::after {
    left: auto;
    right: 20px;
}

.read_btn i {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.wsus__breadcrumb_text ul {
    padding-left: 0;
    padding-right: 25px;
}

.wsus__breadcrumb_text ul::after {
    left: auto;
    right: 0;
}

.wsus__breadcrumb_text ul li a::after {
    right: auto;
    left: -18px;
}

.wsus__breadcrumb_overlay::before {
    left: auto;
    right: 110px;
}

.wsus__breadcrumb_overlay::after {
    right: auto;
    left: 370px;
}

.wsus__about_us_img a {
    right: auto;
    left: 35px;
}

.nextArrow,
.prevArrow {
    right: auto;
    left: -13px;
    transform: translateY(-50%) rotateY(180deg);
    -webkit-transform: translateY(-50%) rotateY(180deg);
    -moz-transform: translateY(-50%) rotateY(180deg);
    -ms-transform: translateY(-50%) rotateY(180deg);
    -o-transform: translateY(-50%) rotateY(180deg);
}

.prevArrow {
    right: -13px;
    left: auto;
}

.wsus__sidebar_search form button {
    right: auto;
    left: 5px;
}

.wsus__blog_details_header ul li span {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__sidebar_recent_post ul li .text p span {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__blog_details_text ul,
.wsus__blog_details_text ol,
.wsus__service_details_text ul,
.wsus__service_details_text ol,
.wsus__event_details_text ul,
.wsus__event_details_text ol {
    padding-left: 0;
    padding-right: 20px;
}

.details_quot_text {
    padding: 40px 120px 40px 45px;
}

.details_quot_text h4 {
    padding-left: 0;
    padding-right: 40px;
}

.details_quot_text h4::after {
    left: auto;
    right: 0;
}

.details_quot_text::after {
    left: auto;
    right: 50px;
}

.wsus__blog_det_tags_share ul li span {
    margin-right: 0;
    margin-left: 10px;
}

.wsus__blog_det_author .text {
    padding: 25px 60px 25px 25px;
}

.wsus__blog_comment_input_area .form-check {
    padding-left: 0;
    padding-right: 1.5em;
}

.wsus__blog_comment_input_area .form-check input {
    right: 0;
}

.wsus__blog_comment_input_area .form-check label {
    padding-left: 0;
    margin-right: 8px;
}

.form-check-input:checked[type="checkbox"] {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.wsus__sidebar_blog_category ul li a {
    padding: 13px 21px 13px 0px;
}

.wsus__sidebar_blog_category ul li a::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.wsus__campaign_description ul,
.wsus__campaign_description ol {
    padding-left: 0;
    padding-right: 20px;
}

.wsus__campaign_details_text ul li span {
    float: right;
}

.wsus__campaign_details_text {
    padding-left: 0;
    padding-right: 40px;
}

.wsus__pagination ul li a i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.wsus__contact_info {
    padding: 40px 115px 40px 40px;
}

.wsus__contact_info span {
    left: auto;
    right: 40px;
}

.wsus__contact_img {
    margin-left: 0;
    margin-right: 30px;
}

.wsus__contact_input .form-check input {
    float: right;
    margin-left: 5px;
}

.wsus__contact_input .form-check {
    padding-left: 0;
    padding-right: 0;
}

.wsus__dashboard_sidebar_menu li a .icon {
    margin-right: 0;
    margin-left: 10px;
}

.wsus__dashboard_profile .text {
    margin-left: 0;
    margin-right: 20px;
}

.wsus__dashboard_profile_avatar .img label {
    right: auto;
    left: -11px;
}

.wsus__dashboard_profile_update_info .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: auto;
    left: 20px;
}

.wsus__donor_list_item {
    padding: 20px 130px 20px 20px;
}

.wsus__donor_list_item .pay {
    left: auto;
    right: 10px;
}

.wsus__event_sidebar ul li {
    padding-left: 0;
    padding-right: 40px;
}

.wsus__event_sidebar ul li span {
    left: auto;
    right: 0;
}

.wsus__gallery_item span {
    right: auto;
    left: 0;
}

.wsus__gallery_item_overlay::after {
    right: auto;
    left: -5px;
    border-radius: 0% 50% 50% 50%;
    -webkit-border-radius: 0% 50% 50% 50%;
    -moz-border-radius: 0% 50% 50% 50%;
    -ms-border-radius: 0% 50% 50% 50%;
    -o-border-radius: 0% 50% 50% 50%;
}

.wsus__pricacy_policy_text ul,
.wsus__pricacy_policy_text ol {
    padding-left: 0;
    padding-right: 20px;
}

.wsus__sign_up_others_option img {
    margin-right: 0;
    margin-left: 10px;
}

.wsus__login_form .wsus__remember_me input {
    float: right;
    margin-left: 5px;
}

.wsus__video_donate_bottom h2 {
    text-align: center;
}

.wssus__event_item .text::after {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

/* home 2 start */
.home_2 .wsus__banner .slick-dots {
    right: auto;
    left: -25px;
}

.home_2 .section_heading h5 {
    padding-left: 0;
    padding-right: 60px;
}

.home_2 .section_heading h5::before {
    left: auto;
    right: 40px;
}

.home_2 .section_heading h5::after {
    left: auto;
    right: 0;
}

.home_2 .section_heading,
.home_2 .section_heading h5,
.home_2 .section_heading h2 {
    text-align: right;
}

.wsus_about_us_text_2 ul li {
    padding-left: 0;
    padding-right: 35px;
}

.wsus_about_us_text_2 ul li::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.wsus__counter_2_item .text {
    border-left: 0;
    border-right: 1px solid #ffc10742;
    padding-left: 0;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 20px;
}

.wsus__campaign_card_2 .img span,
.wsus__campaign_card .img span {
    left: auto;
    right: 15px;
}

.wsus__services_2 .wsus__service_item .text {
    text-align: right;
    margin-left: 0;
    margin-right: 40px;
    padding: 20px 55px 20px 20px;
    border-left: 0;
    border-right: 4px solid #ddd;
    transform: skewX(10deg);
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
}

.wsus__services_2 .wsus__service_item .text a {
    transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
}

.wsus__services_2 .wsus__service_item .text p {
    text-align: right;
    padding-left: 0;
    padding-right: 10px;
    transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
}

.wsus__services_2 .wsus__service_item .icon {
    left: auto;
    right: 0;
}

.wsus__testimonial_2_footer .img {
    margin-right: 0;
    margin-left: 15px;
}

.wsus__testimonial_2_area .nextArrow,
.wsus__testimonial_2_area .prevArrow {
    right: 147px;
    left: auto;
}

.wsus__testimonial_2_area .prevArrow {
    left: auto;
    right: 82px;
}

.wsus__footer_2::after {
    right: auto;
    left: 50px;
}

.wsus__footer_2_banner img {
    border-radius: 0px 150px 0px 0px;
    -webkit-border-radius: 0px 150px 0px 0px;
    -moz-border-radius: 0px 150px 0px 0px;
    -ms-border-radius: 0px 150px 0px 0px;
    -o-border-radius: 0px 150px 0px 0px;
}

.wsus__footer_2_newsletter .ms-auto {
    margin-left: 0 !important;
    margin-right: auto;
}

.wsus__footer_2_newsletter form button {
    right: auto;
    left: 5px;
}

.wsus__footer_2_newsletter .text_area {
    padding: 30px 147px 30px 30px;
}

.wsus__footer_2_banner::after {
    left: auto;
    right: -35px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

/* home 2 end */
.wsus__payment_method::after {
    right: auto;
    left: -2px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

/* home 3 star */
.home_3 .menu_right .menu_toggle_icon {
    margin-left: 0;
    margin-right: 10px;
}

.wsus__banner_3_img .img {
    margin-left: 0;
    margin-right: 100px;
}

.wsus__banner_3_text h1,
.wsus__banner_3_text h1 span {
    text-align: right;
}

.wsus__banner_3::before {
    left: auto;
    right: -5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.home_3 .wsus__about_us_2 .section_heading,
.home_3 .wsus__about_us_2 .section_heading h5,
.home_3 .wsus__about_us_2 .section_heading h2,
.wsus__counter_3_area .section_heading,
.wsus__counter_3_area .section_heading h2,
.wsus__counter_3_area .section_heading p,
.wsus__event_3_banner .text .section_heading,
.wsus__event_3_banner .text h5,
.wsus__event_3_banner .text h2,
.wsus__faq_3 .section_heading,
.wsus__faq_3 .section_heading h5,
.wsus__faq_3 .section_heading h2 {
    text-align: right;
}

.wsus__counter_3 {
    padding-left: 0;
    padding-right: 305px;
}

.wsus__counter_3_img::after {
    right: auto;
    left: 0;
}

.wsus__counter_3_img .play_btn {
    left: auto;
    right: -40px;
}

.wsus__event_3_area .nextArrow,
.wsus__event_3_area .prevArrow {
    right: 60px;
    left: auto;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.wsus__event_3_area .prevArrow {
    right: 0;
}

.wsus__event_3_area::after {
    left: auto;
    right: 13%;
}

.wsus__event_3_banner {
    margin-right: 0;
    margin-left: 12px;
}

.wsus__event_3 .wssus__event_item_2 {
    margin: 25px 0px 0px 12px;
}

.wsus__services_2 .wsus__service_item .text,
.wsus__services_2 .wsus__service_item .text p,
.wsus__services_2 .wsus__service_item .text a {
    transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -o-transform: skewX(0deg);
}

.wsus__services_2 .wsus__service_item .text p {
    padding-right: 0;
}

.wsus__become_volunteer_3 .text ul li {
    padding-left: 0;
    padding-right: 35px;
}

.wsus__become_volunteer_3 .text ul li::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.wsus__become_volunteer_3 .overlay::after {
    right: auto;
    left: -30px;
}

footer::before {
    left: auto;
    right: -5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.home_3_offcanvas .btn-close {
    right: auto;
    left: 0;
}

.home_3_offcanvas .language_currency>li {
    border-right: 0;
    border-left: 1px solid var(--colorBlack);
}

.wsus__offcanvas_blog ul li .img {
    margin-right: 0;
    margin-left: 15px;
}

.home_3_offcanvas .nice-select {
    text-align: right !important;
}

.home_3_offcanvas .language_currency .nice-select:after {
    right: auto;
    left: 25px;
}

.wsus__offcanvas_blog ul li .text p i {
    margin-right: 0;
    margin-left: 5px;
}

.wsus__event_3_banner svg {
    left: auto;
    right: 50%;
}

.home_3 .menu_right a.wsus__common_btn svg {
    margin-right: 0;
    margin-left: 5px;
}

/* home 3 end */

@media (min-width: 1600px) and (max-width: 1800px) {
    .wsus__breadcrumb_overlay::before {
        right: 30px;
    }

    /* home 3 start */
    .wsus__banner_3_img .img {
        margin-right: 50px;
    }

    .wsus__counter_3 {
        padding-right: 155px;
    }

    /* home 3 end */
}

@media (min-width: 1400px) and (max-width: 1599.99px) {

    .main_menu .menu_right .user_icon ul {
        left: 0;
        right: auto;
    }

    .main_menu .menu_right .user_icon ul::after {
        left: 20px;
        right: auto;
    }

    .wsus__breadcrumb_overlay::after {
        left: 100px;
    }

    /* home 3 start */
    .wsus__banner_3_img .img {
        margin-right: 0;
    }

    .wsus__counter_3 {
        padding-right: 45px;
    }

    .wsus__event_3_area::after {
        right: 13%;
    }

    /* home 3 end */
}

@media (min-width: 1200px) and (max-width: 1399.99px) {

    .main_menu .menu_right .user_icon ul {
        left: 0;
        right: auto;
    }

    .main_menu .menu_right .user_icon ul::after {
        left: 20px;
        right: auto;
    }

    .wsus__video_donate_text {
        padding: 40px 40px 40px 15px;
    }

    .wsus__breadcrumb_overlay::after {
        left: 100px;
    }

    .wsus__contact_info {
        padding: 30px 85px 30px 30px;
    }

    .wsus__contact_info span {
        right: 20px;
    }

    .wsus__contact_img {
        margin-right: 0;
    }

    /* home 3 start */
    .wsus__banner_3_img .img {
        margin-right: 0;
    }

    .wsus__counter_3 {
        padding-right: 45px;
    }

    .wsus__event_3_area::after {
        right: 15%;
    }

    /* home 3 end */
}

@media (min-width: 992px) and (max-width: 1199.99px) {

    .main_menu .menu_right .wsus__common_btn {
        padding: 15px 20px 11px 40px;
    }

    .main_menu .menu_right .user_icon ul {
        left: 0;
        right: auto;
    }

    .main_menu .menu_right .user_icon ul::after {
        left: 20px;
        right: auto;
    }

    .wsus_about_us_text {
        padding-right: 0;
    }

    .wsus__banner .slick-dots {
        left: 50px;
    }

    .wsus__video_donate_text {
        padding: 30px 30px 30px 5px;
    }

    .wsus__breadcrumb_overlay::after {
        left: 100px;
    }

    .wsus__campaign_details_text {
        padding-right: 0;
    }

    .wsus__contact_img {
        margin-right: 5px;
    }

    .wsus__contact_info {
        padding: 30px 75px 30px 30px;
    }

    .wsus__contact_info span {
        right: 20px;
    }

    /* home 3 start */
    .wsus__banner_3_img .img {
        margin-right: 0;
    }

    .home_3_offcanvas .offcanvas-body {
        padding: 35px 35px 35px 50px;
    }

    .wsus__event_3_area::after {
        right: 20%;
    }

    /* home 3 end */
}

@media (min-width: 768px) and (max-width: 991.99px) {

    .main_menu .navbar-brand {
        margin-left: 0;
        padding-right: 12px;
    }

    .main_menu .navbar-toggler {
        margin-right: 0;
        margin-left: 12px;
    }

    .wsus__banner_text {
        padding-right: 0;
        padding-left: 70px;
    }

    .wsus__banner .slick-dots {
        left: 50px;
    }

    .wsus_about_us_text {
        padding-right: 0;
    }

    .wsus__video_donate_text {
        padding: 40px;
    }

    .wsus__video_donate_img {
        margin: 0px 15px 15px 15px;
    }

    .wsus__counter .col-6:last-child .wsus__counter_item {
        border-right: 0;
    }

    .progress-wrap {
        left: 20px;
    }

    .wsus__breadcrumb_overlay::after {
        left: 50px;
    }

    .wsus__campaign_details_text {
        padding-right: 0;
    }

    .wsus__contact_img {
        margin-right: 0;
    }

    .wsus__dashboard_profile .text {
        margin-right: 0;
    }

    /* hone 3 start */
    .home_3_offcanvas .offcanvas-body {
        padding: 35px 35px 35px 50px;
    }

    .wsus__event_3_banner {
        margin-left: 0;
    }

    footer::before {
        left: -5px;
        right: auto;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }

    .wsus__event_3_area::after {
        right: 22%;
    }

    .wsus__event_3_banner {
        margin-left: 0;
    }

    /* hone 3 end */
}

@media (min-width: 576px) and (max-width: 767.99px) {

    .main_menu .navbar-brand {
        margin-left: 0;
        padding-right: 12px;
    }

    .main_menu .navbar-toggler {
        margin-right: 0;
        margin-left: 12px;
    }

    .wsus__banner_text {
        padding-right: 0;
        padding-left: 50px;
    }

    .wsus__banner .slick-dots {
        left: 20px;
    }

    .wsus_about_us_text {
        padding-right: 0;
    }

    .wsus__video_donate_img {
        margin: 0px 15px 15px 15px;
    }

    .wsus__video_donate_text {
        padding: 40px;
    }

    .wsus__counter .col-6:last-child .wsus__counter_item {
        border-right: 0;
    }

    .progress-wrap {
        left: 20px;
    }

    .wsus__breadcrumb_overlay::after {
        left: 20px;
    }

    .wsus__campaign_details_text {
        padding-right: 0;
    }

    .wsus__contact_img {
        margin-right: 0;
    }

    /* hone 3 start */
    .home_3_offcanvas .offcanvas-body {
        padding: 25px 25px 25px 50px;
    }

    .wsus__event_3_banner {
        margin-left: 0;
    }

    footer::before {
        left: -5px;
        right: auto;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }

    .wsus__event_3_area::after {
        right: 22%;
    }

    /* hone 3 end */
}

@media (max-width: 575.99px) {

    .main_menu .navbar-brand {
        margin-left: 0;
        padding-right: 12px;
    }

    .main_menu .navbar-toggler {
        margin-right: 0;
        margin-left: 12px;
    }

    .wsus__banner .slick-dots {
        left: 20px;
    }

    .wsus__banner_text {
        padding-right: 0;
        padding-left: 25px;
    }

    .wsus_about_us_text {
        padding-left: 0;
        padding-right: 0;
    }

    .wsus__video_donate_text {
        padding: 15px 15px 15px 12px;
    }

    .wsus__counter .col-6:last-child .wsus__counter_item {
        border-right: 0;
    }

    .wsus__faq_text .accordion-header button {
        text-align: right;
    }

    .wsus__video_donate_img {
        margin: 10px;
    }

    .progress-wrap {
        left: 20px;
    }

    .wsus__breadcrumb_overlay::after {
        left: 20px;
    }

    .wsus__campaign_details_text {
        padding-right: 0;
    }

    .wsus__contact_img {
        margin-right: 0;
    }

    .wsus__dashboard_profile .text {
        margin-right: 0;
    }

    /* home 2 start */

    /* hone 3 start */
    .home_3_offcanvas .offcanvas-body {
        padding: 25px 25px 25px 50px;
    }

    .wsus__event_3_banner {
        margin-left: 0;
    }

    footer::before {
        left: -5px;
        right: auto;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }

    .wsus__become_volunteer_3 .overlay::after {
        left: -8px;
    }

    /* hone 3 end */
}